body {
  background-color: rgb(5, 18, 70);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* display: flex; */
}

header {
  background-color: black;
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  /* list-style-type: none; */
}
.name {
  display: flex;
  justify-content: left;
  /* order: 1; */
  /* align-items: center; */
  font-size: 24px;
  font-style: italic;
}
.links ul{
  list-style-type: none;
  display: flex;
  /* order: 1; */
  flex-direction: row;
  /* justify-content: flex-end; */
  /* width: 100px; */
  /* justify-content: space-between; */
  /* margin-left: 500px; */
}
.links li {
  display: flex;
  /* text-align: center; */
  /* flex-direction: row; */
  justify-content: end;
  /* margin-right; */
  padding-right: 120px;
}

.info {
  background-color: cadetblue;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
.mePic {
  display: flex;
  justify-content: center;
  /* order: 1; */
  align-content: center;
  align-items: center;
  /* display: none; */
  border-radius: 8px;
}
.meInfo {
  display: flex;
  /* flex-shrink: 10; */
  /* flex-direction: column; */
  /* justify-content: center; */
  padding: 12px;
  /* order: 1; */
  /* text-align: center; */
}
.locationArt {
  background-color: midnightblue;
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
    justify-content: space-evenly;

}
.where{
  /* justify-content: center; */
  /* display: flex;
  flex-direction: row; */
  text-align: center;
  order: 1;
  /* align-content: flex-start; */
  /* align-self: center; */
  /* color: black; */
  /* padding: 100px; */
}
.map {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* order: 1; */
  /* flex: ; */
  /* justify-content: left; */
  /* padding: 1rem; */
  margin: 40px;
  border-radius: 8px;
}
.places {
  display: flex;
  flex-direction: column;
  justify-content: right;
  /* order: 2; */
  /* text-align: right; */
  /* width: 50%; */
  margin: 40px;
  /* height: 50%; */
  /* display: flex; */
  /* flex: 1; */
  /* padding: 1rem; */
}

.edu_ex {
  background-color: steelblue;
  display: flex;
  justify-content: space-evenly;
}
.edu_ex h1 {
  /* padding-left: 100px; */
  color: black;
}
.edu {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  /* justify-content: space-evenly; */
  /* align-content: space-evenly; */
  padding: 20px;
}
.exp {
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  justify-content: space-evenly;
  /* align-content: space-evenly; */
  padding: 20px;
}