body {
  background-color: rgb(5, 18, 70);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* display: flex; */
}

header {
  background-color: black;
  display: flex;
  padding: 20px 0 0 40px;
  /* list-style-type: none; */
}
ul .links{
  list-style-type: none;
  display: flex;
  margin-left: 500px;
}
li .links {
  display: flex;
  /* margin-right; */
  padding: 0 100px 0 0;
}

.info {
  background-color: cadetblue;
}

.locationArt {
  background-color: midnightblue;
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
}
.where {
  /* justify-content: center; */
  text-align: center;
  /* order: 1; */
  /* align-self: center; */
  /* color: black; */
}
.map {
  display: flex;
  /* order: 1; */
  flex-direction: column;
  justify-content: left;
  /* flex: ; */
  /* justify-content: left; */
  /* padding: 1rem; */
  border-radius: 8px;
}
.places {
  display: flex;
  flex-direction: column;
  /* order: 2; */
  justify-content: right;
  /* text-align: right; */
  /* width: 50%; */
  /* margin: auto; */
  /* height: 50%; */
  /* display: flex; */
  /* flex: 1; */
  /* padding: 1rem; */
}

.edu_ex {
  background-color: steelblue;
  display: flex;
}
.edu_ex h1 {
  /* padding-left: 100px; */
  color: black;
}
.edu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 20px;
}